<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Address</h3>
    <p>2656 Warners Road Warners (Syracuse), NY 13164</p>
    
    <h3>Email</h3>
    <p><a href="mailto:alexcalaca@gmail.com?subject=PortfolioContact">Email me</a></p>
  </div>
  
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2914.0572381282254!2d-76.32688704906224!3d43.082291979042616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d9fba9dd67f147%3A0x9d381dba24500038!2s2656+Warners+Rd%2C+Warners%2C+NY+13164%2C+USA!5e0!3m2!1sen!2sbr!4v1529778545808" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  
</div>